.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.3125rem;
  padding-bottom: 5.3125rem;
  background-color: $lightGray;

  @include breakpoint-up(large){
    min-height: 50rem;
  }
}

.qr {
  &__card {
    background-color: $white;
    width: 20rem;
    height: 31.25rem;
    border-radius: 20px;
  }

  &__image {
    img {
      margin: 1rem;
      background-size: cover;
      background-position: center center;
      height: 18rem;
      width: 18rem;
      border-radius: 10px;
    }
  }

  &__text {
    padding: 0.5rem 2rem 2.5rem;
  }

  &__title {
    padding-bottom: 1rem;
    font-size: 1.375rem;
    font-weight: 700;
    color: $darkBlue;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}